* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000000;
    min-height: 100vh;
    color: #333;
    display: grid;
    grid-template-rows: auto 1fr;
}

.enlaces{
    color: #fff;
    text-decoration: none;
}

.letras-gris{
    color: #777777;
}
.letra-blanca{
    color: #fff;
}

.borde {
    border: 2px solid #fff;
}
.borde-contenedor {
    border: 2px solid;
}

.btn{
    width: auto;
    padding: 10px;
    height: auto;
    border-radius: 8px;
    font-size: 0.9rem;
}

header {
    padding: 0.7rem;
}

nav {
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav .container-img{
    display: flex;
    justify-content: start;
    img{
        height: 3rem
    };
}
nav .nav-derecho{
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    color: white;
}
nav h1 {
    font-size: 1.5rem;
}

main {
    padding: 6rem;
    padding-top: 3rem;
    display: grid;
    grid-template-rows: auto;
    height: auto;
    width: auto;
    gap: 2rem;
}
.contenedor-principal{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
section .contenedor-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centrar-contenido{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centrar-letras{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-barra{
    display: flex;
    flex-direction: column;
    progress{
        height: 3rem;
        width: 100%;
    }
}
.contendor-formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem
}
.contenedor-pregunta{
    display: flex;
    justify-content: center;
}
.contenedor-respuestas{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.contenedor-respuestas button {
    height: auto; 
    width: 19rem; 
    border-radius: 10px; 
    background-color: #333; 
    border: 2px solid blue;
    color: #fff; 
    word-wrap: break-word; 
    white-space: normal; 
    padding: 0.5rem 1rem; 
    font-size: 1rem;
    text-align: center; 
    overflow: hidden;
    box-sizing: border-box; 
    line-height: 1.2; 
}
.contenedor-respuestas button:hover{
    background-color: blue;
    transition: 0.3s ease;
    transform: scale(1.04);
}
.contenedor-botones-finales{
    display: flex;
    justify-content: center;
    gap: 6rem;
    button{
        width: 8rem;
        height: 3rem;
        border-radius: 10px;
        color: white;
        background: #333;
    }

}
.btn-atras{
    border: 3px solid red;
}
.btn-siguiente{
    border: 3px solid rgb(4, 189, 4);
}
.btn-atras:hover{
    background-color: red;
    transition: 0.3s ease;
    transform: scale(1.1);
}
.btn-siguiente:hover{
    background-color: rgb(4, 189, 4);
    transition: 0.3s ease;
    transform: scale(1.1);
}
@media (max-width: 768px) {
    main{
        padding: 2rem;
    }
    nav{
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .contenedor-respuestas button{
        height: 4rem;
        width: 23rem;
        
    }
}

/* Media query para pantallas medianas (entre 769px y 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    nav{
        display: flex;
    }
    main{
        padding: 2rem;
    }

}

/* Media query para pantallas grandes (mínimo 1025px) */
@media (min-width: 1025px) {
    .container {
        width: 60%;
        margin: 0 auto;
    }
    .contenedor-respuestas button{
        width: 30rem;
    }
}