* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000000;
    min-height: 100vh;
    color: #333;
    display: grid;
    grid-template-rows: auto 1fr;
}

.enlaces{
    color: #fff;
    text-decoration: none;
}

.letras-gris{
    color: #777777;
}
.letra-blanca{
    color: #fff;
}

.borde {
    border: 2px solid #fff;
}
.borde-contenedor {
    border: 2px solid;
}

.btn{
    width: auto;
    padding: 10px;
    height: auto;
    border-radius: 8px;
    font-size: 0.9rem;
}

header {
    padding: 0.7rem;
}

nav {
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav .container-img{
    display: flex;
    justify-content: start;
    img{
        height: 3rem
    };
}
nav .nav-derecho{
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    color: white;
}
nav h1 {
    font-size: 1.5rem;
}

main {
    padding: 6rem;
    padding-top: 3rem;
    display: grid;
    grid-template-rows: auto;
    height: auto;
    width: auto;
    gap: 5rem;
}

.login-container {
    display: flex;
    color: white;
    padding: 2rem;
    width: 100%;
    flex-wrap: wrap;
}
.contenedor-texto{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-trofeo{
    display: flex;
    width: 50%;
    justify-content: center;
}

.login-container h2 {
    margin-bottom: 1.5rem;
} 

.login-container img{
    width: 25rem;
    max-width: 100%;
}

main .contenedor-trivia{
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
}
main .contenedor-trivia div{
    height: auto;
    width: 18rem;
}
.centrar-contenido{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centrar-letras{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    background-color: #0D0D0D;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    border-radius: 30px;
    color: #fff;
    transition: box-shadow 0.3s ease;

    img{
        width: 50%;
        height: auto;
    }
}
.card:hover{
    box-shadow: 0px 17px 15px #fcad15;
    transform: scale(1.05);
}

.btn-card{
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    background: #252525;
    border: 2px solid green;
    color: white;
}

.btn-card:hover{
    background: green;
    transition: 0.3s ease;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    main{
        padding: 2rem;
        .contenedor-trivia div{
            width: 100%;
        }
    }
    nav{
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .contenedor-texto {
        width: 100%; 
        text-align: center; 
    }

    .contenedor-trofeo {
        width: 100%;
        margin-top: 1rem; 
    }

    .login-container img {
        width: 100%; 
        max-width: 20rem; 
    }
}

/* Media query para pantallas medianas (entre 769px y 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    nav{
        display: flex;
    }
    main{
        padding: 2rem;
        .contenedor-trivia{
            justify-content: space-around;
        }
    }

}

/* Media query para pantallas grandes (mínimo 1025px) */
@media (min-width: 1025px) {
    .container {
        width: 60%;
        margin: 0 auto;
    }
}