<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2f0e61d379.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/CSS/style.css">
</head>
<body>
    <nav>
        <div class="contenedor-menu">
            <div class="container-img">
                <img src="../../assets/Img/logoPrincipal.PNG" alt="">
            </div>
            <ul>
                <li>
                    <i class="fa-solid fa-house"></i>
                    <a href="/admin/usuarios">Inicio</a>
                </li>
                <li>
                    <i class="fa-regular fa-user"></i>
                    <a href="/admin/usuarios">Usuarios</a>
                </li>
            </ul>
        </div>
        
    </nav>
    <main>
        <section>
            <h1 class="letra-blanca">Hola, bienvenido</h1>
        </section>
        <section class="conentedor-estadisticas">
            <div class="border-gris">
                <p>Trivias Creadas:</p>
                <span>20</span>
            </div>
            <div class="border-gris">
                <p>Usuarios activos:</p>
                <span>20</span>
            </div>
        </section>
        <section class="contenedor-principal-admin">
            <div class="contenedor-secundario border-gris">
                <div class="contenedor-texto">
                    <p>Hola, bienvenido al panel de control de trivias, en este panel podras visualizar todos los alumnos, ademas de registrar y actualizar las trivias y ademas de ello agregar nuevos usuarios</p>
                </div>
                <div class="contenedor-imagen-central">
                    <img src="../../assets/Img/logoAdmin.PNG" alt="">
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>