<!DOCTYPE html>
<html lang="es">
<head>
    <title>Sistema de Trivia - Login</title>
      <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/CSS/formularioJugador.css">
</head>
<body>
    <header>
        <nav>
            <div class="container-img">
                <img src="../assets/Img/logoPrincipal.PNG" alt="">
            </div>
            <div class="nav-derecho">
                <span>Mi perfil</span>
                <a href="#" class="enlaces">Inicio</a>
                <button class="btn">Cerrar Sesion</button>
            </div>
        </nav>
    </header>
<main>
    <section class="contenedor-principal">
        <div class="contenedor-titulo">
             <h1 class="letra-blanca">Comienza a jugar</h1>
             <h3 class="letras-gris">Contesta las preguntas correctamente</h3>
        </div>
       
        <section class="contenedor-barra letra-blanca">
            <label for="barra-progreso">Progreso: </label>
            <progress value="1" max="10"></progress>
        </section>
        <section class="contendor-formulario">
            <div class="contenedor-pregunta">
                <h2 class="letra-blanca">¿Cual es la capital de Francia?</h2>
            </div>
            <div class="contenedor-respuestas">
                <button><span>h</span></button>
                <button>h</button>
                <button>h</button>
                <button>h</button>
                <button>h</button>
            </div>
            <div class="contenedor-botones-finales">
                <button class="btn-atras">Atras</button>
                <button class="btn-siguiente">Siguiente</button>
            </div>
        </section>
    </section>
</main>
    <script src="js/login.js"></script>
</body>
</html>