<!DOCTYPE html>
<html lang="es">
<head>
    <title>Sistema de Trivia - Login</title>
      <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/CSS/styleJugador.css">
</head>
<body>
    <header>
        <nav>
            <div class="container-img">
                <img src="../assets/Img/logoPrincipal.PNG" alt="">
            </div>
            <div class="nav-derecho">
                <span>Mi perfil</span>
                <a href="#" class="enlaces">Inicio</a>
                <button class="btn">Cerrar Sesion</button>
            </div>
        </nav>
    </header>
    <main>
        <section class="login-container">
            <div class="contenedor-texto">
                <h1>Bienvenido, Angel.</h1>
                <h3 class="letras-gris">Tu rincón único con estadísticas y desafíos!</h3>
            </div>
            <div class="contenedor-trofeo">
                <img src="../assets/Img/trofeo.PNG" alt="">
            </div>
        </section>
        <div class="mensaje-inicio centrar-letras">
            <h2 class="letra-blanca">¿Listo para una trivia?</h2>
            <p class="letras-gris">Pon a prubea tus</p>
            <p class="letras-gris">conocimientos sobre tus</p>
            <p class="letras-gris">cartas</p>
        </div>
        <section class="contenedor-trivia">
            <div class="centrar-contenido card">
                <img src="../assets/Img/logoCarts.PNG" alt="">
                <div class="centrar-contenido">
                    <p>Titulo: <span>Viaje al pasado</span></p>
                </div>
                <div class="centrar-contenido">
                    <p>Cantidad preguntas: <span>10</span></p>
                </div>
                <button class="btn-card">Comenzar</button> 
            </div>
            <div class="centrar-contenido card">
                <img src="../assets/Img/logoCarts.PNG" alt="">
                <div class="centrar-contenido">
                    <p>Titulo: <span>Viaje al pasado</span></p>
                </div>
                <div class="centrar-contenido">
                    <p>Cantidad preguntas: <span>10</span></p>
                </div>
                <a href="#" class="btn-card">Comenzar</a>
            </div>
        </section>
        <section>trivias realizadas</section>
        <section>trivias Pendientes</section>
    </main>
    <script src="js/login.js"></script>
</body>
</html>