<!DOCTYPE html>
<html lang="es">
<head>
    <title>Sistema de Trivia - Login</title>
      <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/CSS/vistaResultados.css">
</head>
<body>
    <header>
        <nav>
            <div class="container-img">
                <img src="../assets/Img/logoPrincipal.PNG" alt="">
            </div>
            <div class="nav-derecho">
                <span>Mi perfil</span>
                <a href="#" class="enlaces">Inicio</a>
                <button class="btn">Cerrar Sesion</button>
            </div>
        </nav>
    </header>
<main>
    <section class="contenedor-principal">
        <div class="contenedor-titulo">
             <h1 class="letra-blanca">Resultados</h1>
             <h3 class="letras-gris">Has terminado la trivia, ve tus resultados</h3>
        </div>
        <section class="section-resultados">
            <div class="contenedor-resultados">
                <span class="letras-calificacion">90%</span>
                <span>9 preguntas correctas</span>
                <span>1 preguntas incorrectas</span>
            </div>
            <div class="contenedor-imagen-resultado">
                <img src="../assets/Img/copaGanadora-remove-bg-io.PNG" alt="">
            </div>
        </section>
       <ul>
            <li class="respuesta-correcta">Respuesta correcta</li>
            <li class="respuesta-incorrecta">Respuesta incorrecta</li>
            <li>Otras respuestas</li>
       </ul>
        <section class="contenedor-respuestas-corregidas">
            <div class="contenedor-pregunta">
                <h2 class="letra-blanca"><span>1.- </span>¿Cual es la capital de Francia?</h2>
            </div>
            <div class="contenedor-respuestas-finales">
                <span>mexico</span>
                <span class="respuesta-correcta">españa</span>
                <span class="respuesta-incorrecta">brasil</span>
                <span>colombia</span>
            </div>
            
        </section>
       
    </section>
</main>
    <script src="js/login.js"></script>
</body>
</html> 